<!DOCTYPE html>
<html lang="en">
<head>
<title>TEST_APP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial;
  margin: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.content {padding:20px;}
</style>
</head>
<body>
<div class="header">
  <h1>Foucault's Pendulum</h1>
</div>


<div class="content">
    <p><b>This is us Creating a Blog</b></p>
    </div>

<%= link_to "Home", wellcome_home_path %>

</body>
</html>
