$navbar-default-bg: #20B2AA;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -2px;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('elige.jpg');
  background-size: cover;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: -5px;
}

.btn-xlarge {
  font-siza: 1.7em;
  background-color: #20B2AA;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #20B2AA;
  color: #777;
}


footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
